
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/StructuralSpacetimeformer.iml
.idea/vcs.xml
__pycache__/utils.cpython-39.pyc
__pycache__/transformer.cpython-39.pyc
__pycache__/train.cpython-39.pyc
__pycache__/pcoding.cpython-39.pyc
__pycache__/encoder.cpython-39.pyc
__pycache__/decoder.cpython-39.pyc
__pycache__/attention.cpython-39.pyc
.idea/workspace.xml
